<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Authorization</Configuration>
    <Platform>x64</Platform>
    <PublishDir>bin\publishAuth</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net8</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishSingleFile>true</PublishSingleFile>
  </PropertyGroup>
</Project>