@page
@model RemoteableWebViewService.Pages.RestartModel
@inject ConcurrentDictionary<string, ServiceState> Dictionary
@{
}


    <script type="text/javascript">
        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true); // true for asynchronous 
            xmlHttp.send(null);
        }
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const guid = urlParams.get('guid');
        httpGetAsync("/wait/" + guid, function () {
            console.log("restarting " + guid);
            //window.location.assign("https://localhost/app?guid=" + guid);
            window.location.assign("/app?guid=" + guid);
        });
    </script>



<div class="text-center">
    <h1 class="display-4">Restarting...</h1>
    <div>
      
    </div>
</div>
