@page "/about"
@inject AppVersionInfo VersionInfo

<h1 class="Heading">Remote Web Window</h1>

@if (!VersionInfo.BuildNumber.Contains("build"))
{
    <div style="position:fixed;bottom:0;left:90%;width:10%">
        BuildNumber: @(VersionInfo.BuildNumber)
    </div>

}
