@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @*Hello, @context?.User?.Identity?.Name!*@
        <button class="nav-link btn btn-link" @onclick="() => BeginLogout(context)">Log out</button>
    </Authorized>
</AuthorizeView>

@code{
    
    private async Task BeginLogout(AuthenticationState? context)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
